/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@font-face {
  font-family: 'Swis721 Cn BT';
  src: url('../font/swis721-cn-bt.ttf') format('truetype');
}
.work-view {
  background-color: white;
}
.img-responsive-preview {
  width: 100%;
}
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}
