@font-face {
	font-family: 'Swis721 Cn BT';
	src: url('../font/swis721-cn-bt.ttf') format('truetype');
}

.work-view {
	background-color: white;
}

.img-responsive-preview {
	width: 100%;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}